/* Add your custom styles here */
img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.grecaptcha-badge {
    display: none !important;
}
.table th,
.table td {
    padding: 12px;
}
.woocommerce-variation-add-to-cart.variations_button .quantity {
    display: none;
}
.btn-fill-golden {
    padding: 8px 18px;
    background: #000000;
    border-radius: 16px;
    border: 1px solid #000000;
    margin-right: 10px;
}
.btn-fill-golden:hover {
    background: #323232;
    text-decoration: none;
    border: 1px solid #323232;
}
.btn-outline-golden {
    padding: 8px 18px;
    border-radius: 16px;
    border: 1px solid #C7AA00;
    color: #C7AA00;
    transition: all 0.1s ease-in-out;
}
.btn-outline-golden:hover {
    background-color: #000000;
    color: #C7AA00;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
/* Add other styles here */
