<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.certification.CertificationPostDao">

	<resultMap id="userSelectMap" type="site.dearmysanta.domain.user.User">
	        <result property="userNo" 		column="user_no" 		jdbcType="NUMERIC"/>
	        <result property="nickName" 	column="nickname" 		jdbcType="VARCHAR"/>
	        <result property="profileImage" column="profile_image" 	jdbcType="VARCHAR"/>
	    </resultMap>

    <resultMap id="CertificationPostMap" type="site.dearmysanta.domain.certificationPost.CertificationPost">
  	 
	<result property="postNo" column="cp_no" jdbcType="NUMERIC"/>
        <result property="userNo" column="user_no" jdbcType="NUMERIC"/>
	<result property="nickName" column="nickname" jdbcType="VARCHAR"/>
        <result property="profileImage" 	column="profile_image" jdbcType="VARCHAR"/>
        <result property="title" column="cp_title" jdbcType="VARCHAR"/>
        <result property="contents" column="cp_contents" jdbcType="VARCHAR"/>
	 <result property="postDate" column="cp_creation_date" 	jdbcType="DATE"/>

 		<result property="certificationPostImage" column="image" jdbcType="VARCHAR"/>
        <result property="certificationPostMountainName" column="cp_mountain_name" jdbcType="VARCHAR"/>
        <result property="certificationPostHikingTrail" column="cp_hiking_trail" jdbcType="VARCHAR"/>
        <result property="certificationPostTotalTime" column="cp_total_time" jdbcType="VARCHAR"/>
        <result property="certificationPostAscentTime" column="cp_ascent_time" jdbcType="VARCHAR"/>
        <result property="certificationPostDescentTime" column="cp_descent_time" jdbcType="VARCHAR"/>
        <result property="certificationPostHikingDate" column="cp_hiking_date" jdbcType="DATE"/>
        <result property="certificationPostTransportation" column="cp_transportation" jdbcType="NUMERIC"/>
        <result property="certificationPostHikingDifficulty" column="cp_difficulty" jdbcType="NUMERIC"/>
        <result property="certificationPostDeletedFlag" column="cp_deleted_flag" jdbcType="NUMERIC"/>
        <result property="certificationPostLikeCount" column="cp_like_count" jdbcType="NUMERIC"/>
        <collection property="certificationPostHashtag" ofType="java.lang.String" column="cp_no" select="getHashtagsByPostNo"/>


    </resultMap>


    <insert id="addCertificationPost" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
        INSERT INTO certification_post (
            cp_no, user_no, cp_title, cp_contents, cp_mountain_name, 
            cp_hiking_trail, cp_total_time, cp_ascent_time, cp_descent_time, 
            cp_hiking_date, cp_creation_date, cp_transportation, cp_difficulty,
            cp_deleted_flag, cp_like_count
        ) VALUES (
            seq_cp_no.nextval,
            #{userNo}, 
            #{title}, 
            #{contents}, 
            #{certificationPostMountainName}, 
            #{certificationPostHikingTrail}, 
            #{certificationPostTotalTime}, 
            #{certificationPostAscentTime}, 
            #{certificationPostDescentTime}, 
            #{certificationPostHikingDate}, 
            SYSDATE, 
            #{certificationPostTransportation}, 
            #{certificationPostHikingDifficulty},
            0,
            0
        )
    </insert>


    <insert id="addCertificationPostHashtags" parameterType="map">
        INSERT INTO certification_post_hashtag (cp_no, hashtag)
        VALUES
        <foreach collection="certificationPostHashtag" item="hashtag" separator=",">
            (#{certificationPostNo}, #{hashtag})
        </foreach>
    </insert>
    
    <select id="getCertificationPost" parameterType="int" resultMap="CertificationPostMap">
        SELECT
            cp_no,
            user_no,
            cp_title,
            cp_content,
            cp_mountain_name,
            cp_hiking_trail,
            cp_total_time,
            cp_ascent_time,
            cp_descent_time,
            cp_hiking_date,
            cp_creation_date,
            cp_transportation,
            cp_difficulty
        FROM
            certification_post
        WHERE
            user_no = #{userNo}
            AND cp_no = #{certificationPostNo}
    </select>
    
    <delete id="deleteCertificationPost" parameterType="int">
        DELETE FROM certification_post
        WHERE cp_no = #{certificationPostNo}
    </delete>
    
    <update id="updateCertificationPost" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
        UPDATE certification_post
        SET
            cp_title = #{certificationPostTitle},
            cp_content = #{certificationPostContent},
            cp_mountain_name = #{certificationPostMountainName},
            cp_hiking_trail = #{certificationPostHikingTrail},
            cp_total_time = #{certificationPostTotalTime},
            cp_ascent_time = #{certificationPostAscentTime},
            cp_descent_time = #{certificationPostDescentTime},
            cp_hiking_date = #{certificationPostHikingDate},
            cp_creation_date = #{certificationPostCreationDate},
            cp_transportation = #{certificationPostTransportation},
            cp_difficulty = #{certificationPostHikingDifficulty}
        WHERE
            cp_no = #{certificationPostNo}
    </update>

    <select id="getHashtagsByPostNo" parameterType="int" resultType="java.lang.String">
        SELECT hashtag
        FROM certification_post_hashtag
        WHERE cp_no = #{certificationPostNo}
    </select>

    <delete id="deleteHashtagsByPostNo" parameterType="int">
        DELETE FROM certification_post_hashtag
        WHERE cp_no = #{certificationPostNo}
    </delete>
</mapper>

