<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.certification.CertificationPostDao">

    <resultMap id="CertificationPostSelectMap" type="site.dearmysanta.domain.certificationPost.CertificationPost">
  	 
	<result property="postNo" column="cp_no" jdbcType="NUMERIC"/>
        <result property="userNo" column="user_no" jdbcType="NUMERIC"/>
	<result property="nickName" column="nickname" jdbcType="VARCHAR"/>
        <result property="title" column="cp_title" jdbcType="VARCHAR"/>
        <result property="contents" column="cp_contents" jdbcType="VARCHAR"/>
	 <result property="postDate" column="cp_creation_date" 	jdbcType="DATE"/>

        <result property="certificationPostMountainName" column="cp_mountain_name" jdbcType="VARCHAR"/>
        <result property="certificationPostHikingTrail" column="cp_hiking_trail" jdbcType="VARCHAR"/>
        <result property="certificationPostTotalTime" column="cp_total_time" jdbcType="VARCHAR"/>
        <result property="certificationPostAscentTime" column="cp_ascent_time" jdbcType="VARCHAR"/>
        <result property="certificationPostDescentTime" column="cp_descent_time" jdbcType="VARCHAR"/>
        <result property="certificationPostHikingDate" column="cp_hiking_date" jdbcType="DATE"/>
        <result property="certificationPostTransportation" column="cp_transportation" jdbcType="NUMERIC"/>
        <result property="certificationPostHikingDifficulty" column="cp_difficulty" jdbcType="NUMERIC"/>
        <result property="certificationPostDeletedFlag" column="cp_deleted_flag" jdbcType="NUMERIC"/>
        <result property="certificationPostLikeCount" column="cp_like_count" jdbcType="NUMERIC"/>


    </resultMap>


    <insert id="addCertificationPost" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
    INSERT INTO certification_post (
        cp_no, user_no, cp_type, cp_title, cp_content, cp_mountain_name, 
        cp_hiking_trail, cp_total_time, cp_ascent_time, cp_descent_time, 
        cp_hiking_date, cp_creation_date, cp_transportation, cp_difficulty,
        cp_delete_flag, cp_like_count
    ) VALUES (
        seq_cp_no.nextval,
        #{userNo}, 
      0, 
        #{title}, 
        #{contents}, 
        #{certificationPostMountainName}, 
        #{certificationPostHikingTrail}, 
        #{certificationPostTotalTime}, 
        #{certificationPostAscentTime}, 
        #{certificationPostDescentTime}, 
        #{certificationPostHikingDate}, 
        SYSDATE, 
        #{certificationPostTransportation}, 
        #{certificationPostHikingDifficulty},
        0,
      	0
    )
</insert>


        <insert id="addCertificationPostHashtags" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
        INSERT INTO hashtag (cp_no, hashtag_content)
        VALUES
        <foreach collection="certificationPostHashtag" item="hashtag" separator=",">
            (#{certificationPostNo}, #{hashtag})
        </foreach>
    </insert>
    
    <select id="getCertificationPost" parameterType="int" resultMap="CertificationPostSelectMap">
        SELECT
            cp_no,
            user_no,
            cp_type,
            cp_title,
            cp_content,
            cp_mountain_name,
            cp_hiking_trail,
            cp_total_time,
            cp_ascent_time,
            cp_descent_time,
            cp_hiking_date,
            cp_creation_date,
            cp_transportation,
            cp_difficulty
        FROM
            certification_post
        WHERE
            cp_no = #{postNo}
        
    </select>
    
    
    <update id="updateCertificationPost" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
        UPDATE certification_post
        SET
             cp_title = #{title},
            cp_content = #{contents},
            cp_mountain_name = #{certificationPostMountainName},
            cp_hiking_trail = #{certificationPostHikingTrail},
            cp_total_time = #{certificationPostTotalTime},
            cp_ascent_time = #{certificationPostAscentTime},
            cp_descent_time = #{certificationPostDescentTime},
            cp_hiking_date = #{certificationPostHikingDate},
            cp_transportation = #{certificationPostTransportation},
            cp_difficulty = #{certificationPostHikingDifficulty}
        WHERE
               cp_no = #{postNo}
    </update>

    
     <select id="getHashtagsByPostNo" parameterType="int" resultType="java.lang.String">
        SELECT hashtag_content
        FROM hashtag
        WHERE cp_no = #{certificationPostNo}
    </select>
    
    <delete id="deleteHashtagsByPostNo" parameterType="int">
        DELETE FROM certification_post_hashtag
        WHERE cp_no = #{certificationPostNo}
    </delete>
    
    
    
    
    
    
    <insert id="addCertificationPostLike"
		parameterType="site.dearmysanta.domain.common.Like">
		INSERT INTO LIKES (LIKE_NO, USER_NO, POST_LIKE_NO,
		POST_LIKE_TYPE, LIKE_DATE)
		VALUES (seq_like_no.NEXTVAL, #{userNo},
		#{postNo}, 0 , SYSDATE)
	</insert>
    
    
    
    
    
    
    
    
    
</mapper>
