<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.certification.CertificationPostDao">

    <resultMap id="CertificationPostSelectMap" type="site.dearmysanta.domain.certificationPost.CertificationPost">
  	 
        <result property="postNo" column="cp_no" jdbcType="NUMERIC"/>
        <result property="userNo" column="user_no" jdbcType="NUMERIC"/>
        <result property="nickName" column="nickname" jdbcType="VARCHAR"/>
        <result property="title" column="cp_title" jdbcType="VARCHAR"/>
        <result property="contents" column="cp_contents" jdbcType="VARCHAR"/>
        <result property="postDate" column="cp_creation_date" jdbcType="DATE"/>
     <result property="profileImage" 					column="profile_image" 			jdbcType="VARCHAR"/>
    <result property = "badgeImage"	column = "badge_image"	jdbcType = "VARCHAR"/>
    
        <result property="certificationPostMountainName" column="cp_mountain_name" jdbcType="VARCHAR"/>
        <result property="certificationPostHikingTrail" column="cp_hiking_trail" jdbcType="VARCHAR"/>
        <result property="certificationPostTotalTime" column="cp_total_time" jdbcType="VARCHAR"/>
        <result property="certificationPostAscentTime" column="cp_ascent_time" jdbcType="VARCHAR"/>
        <result property="certificationPostDescentTime" column="cp_descent_time" jdbcType="VARCHAR"/>
        <result property="certificationPostHikingDate" column="cp_hiking_date" jdbcType="VARCHAR"/>
        <result property="certificationPostTransportation" column="cp_transportation" jdbcType="NUMERIC"/>
        <result property="certificationPostHikingDifficulty" column="cp_difficulty" jdbcType="NUMERIC"/>
        <result property="certificationPostDeletedFlag" column="cp_deleted_flag" jdbcType="NUMERIC"/>
        <result property="certificationPostHashtagContents" column="hashtag_content" jdbcType="VARCHAR"/>
         <result property="hashtagNo" column="hashtag_no" jdbcType="NUMERIC"/>
        <result property="certificationPostLikeCount" column="cp_like_count" jdbcType="NUMERIC"/>
        <result property="certificationPostImageCount" column="cp_image_count" jdbcType="NUMERIC"/>
        <result property="certificationPostType" column="cp_type" jdbcType="NUMERIC"/>
    </resultMap>


 <resultMap id="certificationPostCommentSelectMap" type="site.dearmysanta.domain.certificationPost.CertificationPostComment">
  	         <result property="userNo" 		column="user_no" 				jdbcType="NUMERIC"/>
        <result property="nickname" 	column="nickname" 				jdbcType="VARCHAR"/>
        <result property="profileImage" 	column="profile_image" 			jdbcType="VARCHAR"/>
        

        <result property="certificationPostNo" column="post_no" jdbcType="NUMERIC"/>
        <result property="certificationPostCommentNo" column="comment_no" jdbcType="NUMERIC"/>
        <result property="certificationPostCommentContents" column="comment_contents" jdbcType="VARCHAR"/>
        <result property="certificationPostCommentCreationDate" column="comment_creation_date" jdbcType="DATE"/>

    </resultMap>
    
   <!-- post -->

 
    <insert id="addCertificationPost" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
        <selectKey keyProperty="postNo" resultType="int" order="BEFORE">
            SELECT seq_cp_no.nextval FROM dual
        </selectKey>
        
        INSERT INTO certification_post (
            cp_no, user_no, cp_type, cp_title, cp_contents, cp_mountain_name, 
            cp_hiking_trail, cp_total_time, cp_ascent_time, cp_descent_time, 
            cp_hiking_date, cp_creation_date, cp_transportation, cp_difficulty,
            cp_deleted_flag, cp_like_count , cp_image_count
        ) VALUES (
            seq_cp_no.currval, 
            #{userNo}, 
            #{certificationPostType},
            #{title}, 
            #{contents}, 
            #{certificationPostMountainName}, 
            #{certificationPostHikingTrail}, 
            #{certificationPostTotalTime}, 
            #{certificationPostAscentTime}, 
            #{certificationPostDescentTime}, 
            #{certificationPostHikingDate}, 
            SYSDATE, 
            #{certificationPostTransportation}, 
            #{certificationPostHikingDifficulty},
            0,
            0,
              #{certificationPostImageCount}
        )
    </insert>
    
    <select id="getCertificationPost" parameterType="int" resultMap="CertificationPostSelectMap">
        SELECT
            cp.cp_no,
             cp.user_no,
             u.nickname,
              u.profile_image,
              u.badge_image,
             cp.cp_type,
             cp.cp_title,
             cp.cp_contents,
             cp.cp_mountain_name,
             cp.cp_hiking_trail,
             cp.cp_total_time,
             cp.cp_ascent_time,
             cp.cp_descent_time,
             cp.cp_hiking_date,
             cp.cp_creation_date,
             cp.cp_transportation,
             cp.cp_difficulty,
             cp.cp_image_count
        FROM
            certification_post cp
            JOIN
            users u ON cp.user_no = u.user_no
        WHERE
            cp.cp_no = #{postNo} AND cp.cp_deleted_flag = 0
    </select>
    
        <insert id="addHashtag" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
		INSERT INTO HASHTAG (HASHTAG_NO, CP_NO, HASHTAG_CONTENT)
		VALUES (seq_HASHTAG_NO.nextval, #{postNo}, #{certificationPostHashtagContents})
	</insert>
    
    
    <!-- 사진만보여줘야하는데 일단 글제목보여주기 -->
<select id="getMyCertificationPostList" resultMap="CertificationPostSelectMap"  parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">

      select * from certification_post where user_no =#{userNo} AND cp_type = 0 AND cp_deleted_flag = 0  ORDER BY cp_creation_date DESC
 </select>
    
    <update id="updateCertificationPost" parameterType="site.dearmysanta.domain.certificationPost.CertificationPost">
     UPDATE certification_post
		SET
		    cp_title = #{title},
		    cp_contents = #{contents},
		    cp_image_count = #{certificationPostImageCount},
		    cp_mountain_name = #{certificationPostMountainName},
		    cp_hiking_trail = #{certificationPostHikingTrail},
		    cp_total_time = #{certificationPostTotalTime},
		    cp_ascent_time = #{certificationPostAscentTime},
		    cp_descent_time = #{certificationPostDescentTime},
		    cp_hiking_date = #{certificationPostHikingDate},
		    cp_transportation = #{certificationPostTransportation},
		    cp_difficulty = #{certificationPostHikingDifficulty}
		WHERE
		    cp_no = #{postNo} 

    </update>
    
    	<update id="updateCertificationPostDeleteFlag" parameterType="int">
    	UPDATE certification_post
    	SET cp_deleted_flag = 1
    	WHERE cp_no = #{postNo}
	</update>
	
    
    <!-- hashtag -->
    
    <delete id="deleteHashtag" parameterType="int">
        DELETE FROM hashtag
        WHERE HASHTAG_NO = #{hashtagNo}
    </delete>
    
  <update id="updateHashtag" parameterType="map">
    UPDATE HASHTAG
    SET HASHTAG_CONTENT = #{certificationPostHashtagContents}
    WHERE HASHTAG_NO = #{hashtagNo}
</update>


    <select id="getHashtag" parameterType="int" resultMap="CertificationPostSelectMap">
    SELECT cp.*, h.hashtag_content, h.hashtag_no
    FROM certification_post cp
    INNER JOIN hashtag h ON cp.cp_no = h.cp_no
    WHERE cp.cp_no = #{postNo}  </select>
   
   
    <!-- Like  -->
    <insert id="addCertificationPostLike" parameterType="site.dearmysanta.domain.common.Like">
        INSERT INTO LIKES (LIKE_NO, USER_NO, POST_NO, POST_TYPE, LIKE_DATE)
        VALUES (seq_like_no.NEXTVAL, #{userNo}, #{postNo}, 0 , SYSDATE)
    </insert>
    

   <update id="updateLikeCount" parameterType="map">
        UPDATE certification_post
        SET cp_like_count = (
            SELECT COUNT(*)
            FROM likes
            WHERE post_no = #{postNo} AND post_type = 0
        )
        WHERE cp_no = #{postNo}
    </update>


    <delete id="deleteCertificationPostLike" parameterType="site.dearmysanta.domain.common.Like">
        DELETE FROM LIKES
        WHERE USER_NO = #{userNo} AND POST_NO = #{postNo} AND POST_TYPE=0
    </delete>
    
    <select id="getCertificationPostLikeCount" parameterType="site.dearmysanta.domain.common.Like"  resultType="int">
        SELECT COUNT(*)
        FROM likes
        WHERE post_no = #{postNo} AND post_type = 0
    </select>
    
	<select id="getCertificationPostLikeList"
		parameterType="site.dearmysanta.domain.common.Like"
		resultMap="CertificationPostSelectMap">

    SELECT c.*
    FROM LIKES l
    JOIN certification_post c ON l.POST_NO = c.cp_no
    WHERE l.POST_TYPE = 0 AND CP_DELETED_FLAG=0
      AND l.USER_NO = #{userNo}
    ORDER BY l.LIKE_DATE DESC
</select>

	
	
	<select id="getCertificationPostLikeStatus" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM likes
        WHERE user_no = #{userNo} AND post_no = #{postNo} AND post_type = 0
    </select>
	
	
	<!-- Comment -->

		<insert id="addCertificationPostComment" parameterType="site.dearmysanta.domain.certificationPost.CertificationPostComment">
        INSERT INTO comments(comment_no, user_no,post_no, comment_contents,comment_creation_date, post_type)
        VALUES(seq_comment_no.NEXTVAL, #{userNo}, #{certificationPostNo}, #{certificationPostCommentContents},sysdate, 0)
    </insert>
    
    <delete id="deleteCertificationPostComment" parameterType="site.dearmysanta.domain.certificationPost.CertificationPostComment">
        DELETE FROM comments
         WHERE POST_TYPE=0 AND COMMENT_NO = #{certificationPostCommentNo} AND USER_NO = #{userNo}
    </delete>
    

<select id="getCertificationPostCommentList" parameterType="int" resultMap="certificationPostCommentSelectMap">
    SELECT 
   			 u.user_no,
        	u.nickname,
        	u.profile_image,
        	c.post_no,
        	c.comment_no,
        	c.comment_contents,
        	c.comment_creation_date   	
    	FROM 
        	comments c
    	JOIN 
        	users u ON c.user_no = u.user_no
    	WHERE 
        	c.post_no = #{postNo} AND c.post_type = 0
        	 ORDER BY
        c.comment_creation_date DESC
	</select>

<!-- search -->
<!---->
<select id="getCertificationPostList" resultMap="CertificationPostSelectMap" parameterType="site.dearmysanta.domain.common.Search">
    SELECT * FROM (
        SELECT cp.*, u.nickname, ROW_NUMBER() OVER (
            ORDER BY 
            <choose>
                  <when test="sortCondition == 1"> <!-- 최신순 -->
                    cp.cp_creation_date DESC
                </when>
             <when test="sortCondition == 2"> <!-- 좋아요 많은순 -->
                    NVL(cp.cp_like_count, 0) DESC
                </when>
                <when test="sortCondition == 3"> <!-- 난이도 높은순 -->
                    cp.cp_difficulty ASC
                </when>
                <when test="sortCondition == 4"> <!-- 난이도 낮은순 -->
                    cp.cp_difficulty DESC
                </when>
                <otherwise> <!-- 최신순 -->
                    cp.cp_creation_date DESC
                </otherwise>
            </choose>
        ) AS row_num
        FROM certification_post cp
        JOIN users u ON u.user_no = cp.user_no
        WHERE cp.cp_deleted_flag = 0
        <choose>
            <when test='searchCondition == 0 and searchKeyword != "" and searchKeyword != null'>
                AND cp.cp_title LIKE '%' || #{searchKeyword} || '%'
            </when>
            <when test='searchCondition == 1 and searchKeyword != "" and searchKeyword != null'>
                AND u.nickname LIKE '%' || #{searchKeyword} || '%'
            </when>
            <when test='searchCondition == 2 and searchKeyword != "" and searchKeyword != null'>
                AND cp.cp_mountain_name LIKE '%' || #{searchKeyword} || '%'
            </when>
        </choose>
    )
    WHERE row_num BETWEEN #{currentPage} * #{pageSize} + 1 AND (#{currentPage} + 1) * #{pageSize}
</select>



<select id="getTotalMountainCount" parameterType="String" resultType="int">
SELECT COUNT(*) FROM certification_post WHERE CP_MOUNTAIN_NAME = #{mountainName}
</select>



</mapper>
