<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="site.dearmysanta.service.correctionpost.CorrectionPostDao">

	

		<resultMap id="CorrectionPostResultMap" type="site.dearmysanta.domain.correctionPost.CorrectionPost">
			<id property="postNo" column="crp_no" />
			<result property="userNo" column="user_no" />
			<result property="nickName" column="nickname" />
			<result property="profileImage" column="profile_image" />
			<result property="contents" column="crp_content" />
			<result property="postDate" column="crp_date" />
			<result property="mountainNo" column="mountain_no" />
			<result property="mountainName" column="mountain_name" />
			<result property="status" column="crp_status" />
		</resultMap>


	
	<insert id="addCorrectionPost" parameterType="site.dearmysanta.domain.correctionPost.CorrectionPost">
		INSERT INTO CORRECTION_POST (CRP_NO, CRP_CONTENT, CRP_DATE, CRP_STATUS, MOUNTAIN_NO, MOUNTAIN_NAME, USER_NO)
		VALUES(seq_crp_no.NEXTVAL, #{contents}, SYSDATE, 0, #{mountainNo}, #{mountainName}, #{userNo})
	
	</insert>
	
	<update id="updateCorrestionPostStatus" parameterType="int">
		UPDATE CORRECTION_POST
		SET
			CRP_STATUS = 1
		WHERE CRP_NO = #{value}
	
	</update>
	
	<delete id="deleteCorrectionPost" parameterType="map">
		DELETE FROM CORRECTION_POST
		WHERE USER_NO = #{userNo} AND CRP_NO = #{postNo}
	</delete>
	
<select id="getCorrectionPostList" parameterType="site.dearmysanta.domain.common.Search" resultMap="CorrectionPostResultMap">
    SELECT * FROM (
        SELECT 
            crp.crp_no, 
            crp.crp_content, 
            crp.crp_date, 
            crp.crp_status, 
            m.MOUNTAIN_NO, 
            m.MOUNTAIN_NAME, 
            u.USER_NO,
            u.nickname,
            ROW_NUMBER() OVER (ORDER BY crp.crp_no) AS ROW_SEQ
        FROM 
            USERS u, 
            CORRECTION_POST crp, 
            MOUNTAIN m
        WHERE 
            crp.USER_NO = u.USER_NO 
            AND crp.MOUNTAIN_NO = m.MOUNTAIN_NO 
            AND crp.crp_status = 0
        <choose>
            <when test="searchCondition == 0 and searchKeyword != null and searchKeyword != ''">
                AND m.MOUNTAIN_NAME LIKE '%' || #{searchKeyword} || '%'
            </when>
        </choose>
    )
    WHERE ROW_SEQ BETWEEN ((#{currentPage} - 1) * #{pageSize} + 1) AND #{currentPage} * #{pageSize}
</select>

<select id="getCorrectionPostTotalCount" parameterType="site.dearmysanta.domain.common.Search" resultType="int">
        SELECT COUNT(*) 
        FROM correction_post crp,   MOUNTAIN m
        WHERE crp.crp_status = 0 AND crp.MOUNTAIN_NO = m.MOUNTAIN_NO 
        <choose>
            <when test="searchCondition == 0 and searchKeyword != null and searchKeyword != ''">
                AND m.MOUNTAIN_NAME LIKE '%' || #{searchKeyword} || '%'
            </when>
        </choose>
    </select>



</mapper>
