<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.hikingGuide.HikingGuideDao">

   <resultMap id="hikingAlertMap" type="site.dearmysanta.domain.hikingguide.HikingAlert">
      <result property="userNo" column="user_no" jdbcType="NUMERIC"/>
      <result property="hikingAlertFlag" column="hg_setting" jdbcType="NUMERIC"/>
      <result property="meetingTimeAlert" column="time_alert_setting" jdbcType="NUMERIC"/>
      <result property="locationOverAlert" column="location_over_setting" jdbcType="NUMERIC"/>
      <result property="destinationAlert" column="destination_setting" jdbcType="NUMERIC"/>
      <result property="sunsetAlert" column="sunset_setting" jdbcType="NUMERIC"/>
      <result property="meetingTime" column="time_setting" jdbcType="VARCHAR"/>
   </resultMap>
   
   <!-- SQL : hikingAlertSetting get -->
   
	 <select id="getAlertSetting" parameterType="int" resultMap="hikingAlertMap">
	
        SELECT 
            user_no,
            hg_setting,
            destination_setting,
            sunset_setting,
            location_over_setting,
            time_alert_setting,
            time_setting
        FROM users
        WHERE user_no = #{userNo, jdbcType=NUMERIC}
    </select>
	
   <!-- SQL : hikingAlertSetting Update -->
   
	<update id="updateAlertSetting">
 
 
	</update>



  <!-- SQL : hikingAlertSetting meetingTime Update -->
  
	<update id="updateMeetingTime" parameterType="map">
    UPDATE users
    <set>
        <if test="meetingTimeAlert == 1">
            time_setting = #{meetingTime, jdbcType=NUMERIC}
        </if>
    </set>
    WHERE user_no = #{userNo, jdbcType=NUMERIC}
	</update>
	

	
</mapper>