<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.hikingGuide.HikingGuideDao">

   <resultMap id="hikingGuideMap" type="site.dearmysanta.domain.hikingguide.HikingGuide">
      <result property="hrNo" column="hr_no" jdbcType="NUMERIC"/>
      <result property="userNo" column="user_no" jdbcType="NUMERIC"/>
      <result property="totalTime" column="hr_time" jdbcType="VARCHAR"/>
      <result property="userDistance" column="hr_distance" jdbcType="NUMERIC"/>
      <result property="ascentTime" column="hr_ascent" jdbcType="VARCHAR"/>
      <result property="descentTime" column="hr_descent" jdbcType="VARCHAR"/>
      <result property="hikingDate" column="hr_date" jdbcType="DATE"/>
      <result property="hikingDifficulty" column="hr_hikingdifficulty" jdbcType="NUMERIC"/>
      <result property="weather.skyCondition" column="hr_skycondition" jdbcType="NUMERIC"/>
      <result property="mountain.mountainName" column="hr_mountain_name" jdbcType="VARCHAR"/>
   </resultMap>
   
   <!--SQL : hikingRecord INSERT -->
   
    <insert id="addHikingRecord" parameterType="site.dearmysanta.domain.hikingguide.HikingGuide">
        INSERT INTO hiking_record(
        hr_no,
        user_no,
        hr_time,
        hr_distance,
        hr_ascent,
        hr_descent,
        hr_date,
        hr_hikingdifficulty,
        hr_skycondition,
        hr_mountain_name
    ) VALUES (
        seq_hr_no.NEXTVAL,
        #{userNo, jdbcType=NUMERIC},
        #{totalTime, jdbcType=VARCHAR},
        #{userDistance, jdbcType=NUMERIC},
        #{ascentTime, jdbcType=VARCHAR},
        #{descentTime, jdbcType=VARCHAR},
        sysdate,
        #{hikingDifficulty, jdbcType=NUMERIC},
        #{weather.skyCondition, jdbcType=NUMERIC},
        #{mountain.mountainName, jdbcType=VARCHAR}
    )
    </insert>
    
    <!--SQL : hikingRecord DELETE -->
   <delete id="deleteHikingRecord" parameterType="map">
    DELETE FROM hiking_record WHERE hr_no IN
    <foreach item="hrNo" collection="hrNo" open="(" separator="," close=")">
        #{hrNo}
    </foreach>
	</delete>
	
    <!--SQL : hikingRecord SELECT -->
    <select id="getHikingListRecord" parameterType="int" resultMap="hikingGuideMap">
        SELECT 
            hr_no,
            user_no,
            hr_time,
            hr_distance,
            hr_ascent,
            hr_descent,
            hr_date,
            hr_hikingdifficulty,
            hr_skycondition,
            hr_mountain_name
        FROM hiking_record
        WHERE user_no = #{userNo, jdbcType=NUMERIC}
        ORDER BY hr_date
    </select>

</mapper>