<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HikingAlertMapper">

   <resultMap id="hikingAlertMap" type="hikingAlert">
      <result property="userNo" column="user_no" jdbcType="INTEGER"/>
      <result property="hikingAlertFlag" column="hg_setting" jdbcType="INTEGER"/>
      <result property="meetingTimeAlert" column="time_alert_setting" jdbcType="INTEGER"/>
      <result property="locationOverAlert" column="location_over_setting" jdbcType="INTEGER"/>
      <result property="ascentTime" column="destination_setting" jdbcType="INTEGER"/>
      <result property="sunsetAlert" column="sunset_setting" jdbcType="INTEGER"/>
      <result property="meetingTime" column="time_setting" jdbcType="INTEGER"/>
   </resultMap>
   
   <!-- SQL : hikingAlertSetting get -->
   
	 <select id="getAlertSetting" parameterType="int" resultType="site.dearmysanta.service.domain.hikingguide.HikingAlert">
        SELECT 
            user_no AS userNo,
            hg_setting AS hikingAlertFlag,
            destination_setting AS destinationAlert,
            sunset_setting AS sunsetAlert,
            location_over_setting AS locationOverAlert,
            time_alert_setting AS meetingTimeAlert,
            time_setting AS meetingTime,
            alert_content AS alertContent,
            all_alert AS allAlert
        FROM users
        WHERE user_no = #{userNo, jdbcType=INTEGER}
    </select>
	
   <!-- SQL : hikingAlertSetting Update -->
   
    <update id="updateAlertSetting">
        UPDATE users
        <set>
            <if test="hikingAlertFlag != null">
                hg_setting = #{hikingAlertFlag, jdbcType=INTEGER},
                time_alert_setting = CASE WHEN #{hikingAlertFlag} = 0 THEN 0 ELSE time_alert_setting END,
                location_over_setting = CASE WHEN #{hikingAlertFlag} = 0 THEN 0 ELSE location_over_setting END,
                destination_setting = CASE WHEN #{hikingAlertFlag} = 0 THEN 0 ELSE destination_setting END,
                sunset_setting = CASE WHEN #{hikingAlertFlag} = 0 THEN 0 ELSE sunset_setting END,
                time_setting = CASE WHEN #{hikingAlertFlag} = 0 THEN 0 ELSE time_setting END,
                alert_content = CASE WHEN #{hikingAlertFlag} = 0 THEN '' ELSE alert_content END,
                all_alert = CASE WHEN #{hikingAlertFlag} = 0 THEN '' ELSE all_alert END
            </if>
            <if test="destinationAlert != null and hikingAlertFlag != 0">
                destination_setting = #{destinationAlert, jdbcType=VARCHAR},
            </if>
            <if test="sunsetAlert != null and hikingAlertFlag != 0">
                sunset_setting = #{sunsetAlert, jdbcType=VARCHAR},
            </if>
            <if test="locationOverAlert != null and hikingAlertFlag != 0">
                location_over_setting = #{locationOverAlert, jdbcType=VARCHAR},
            </if>
            <if test="meetingTimeAlert != null and hikingAlertFlag != 0">
                time_alert_setting = #{meetingTimeAlert, jdbcType=VARCHAR},
            </if>
            <if test="meetingTime != null and hikingAlertFlag != 0">
                time_setting = #{meetingTime, jdbcType=VARCHAR},
            </if>
            <if test="alertContent != null and hikingAlertFlag != 0">
                alert_content = #{alertContent, jdbcType=VARCHAR},
            </if>
            <if test="allAlert != null and hikingAlertFlag != 0">
                all_alert = #{allAlert, jdbcType=VARCHAR},
       	    </if>
    	</set>
    			WHERE userNo = #{userNo, jdbcType=INTEGER}
	</update>


	
</mapper>