<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.hikingGuide.HikingGuideDao">

   <resultMap id="hikingGuideMap" type="site.dearmysanta.domain.hikingguide.HikingGuide">
      <result property="hrNo" column="hr_no" jdbcType="NUMERIC"/>
      <result property="userNo" column="user_no" jdbcType="NUMERIC"/>
      <result property="totalTime" column="hr_time" jdbcType="VARCHAR"/>
      <result property="userDistance" column="hr_distance" jdbcType="NUMERIC"/>
      <result property="ascentTime" column="hr_ascent" jdbcType="VARCHAR"/>
      <result property="descentTime" column="hr_descent" jdbcType="VARCHAR"/>
      <result property="hikingDate" column="hr_date" jdbcType="DATE"/>
      <result property="weather.skyCondition" column="hr_skycondition" jdbcType="NUMERIC"/>
      <result property="mountain.mountainName" column="hr_mountain_name" jdbcType="VARCHAR"/>
      <result property="mountain.upTrailName" column="hr_uptrail_name" jdbcType="VARCHAR"/>
      <result property="mountain.downTrailName" column="hr_downtrail_name" jdbcType="VARCHAR"/>
      <result property="mountain.upDifficulty" column="hr_updifficulty" jdbcType="NUMERIC"/>
      <result property="mountain.downDifficulty" column="hr_downdifficulty" jdbcType="NUMERIC"/>
   </resultMap>
   
   <!--SQL : hikingRecord INSERT -->
   
    <insert id="addHikingRecord" parameterType="site.dearmysanta.domain.hikingguide.HikingGuide">
        INSERT INTO hiking_record_test (
            hr_no,
            user_no,
            hr_time,
            hr_distance,
            hr_ascent,
            hr_descent,
            hr_date<!-- ,
            hr_skycondition,
            hr_mountain_name,
            hr_uptrail_name,
            hr_downtrail_name,
            hr_updifficulty,
            hr_downdifficulty -->
        ) VALUES (
            seq_hr_no.NEXTVAL,
            #{userNo, jdbcType=NUMERIC},
            #{totalTime, jdbcType=VARCHAR},
            #{userDistance, jdbcType=NUMERIC},
            #{ascentTime, jdbcType=NUMERIC},
            #{descentTime, jdbcType=NUMERIC},
            #{hikingDate, jdbcType=DATE}<!-- ,
            #{weather.skyCondition, jdbcType=NUMERIC},
            #{mountain.mountainName, jdbcType=VARCHAR},
            #{mountain.upTrailName, jdbcType=VARCHAR},
            #{mountain.downTrailName, jdbcType=VARCHAR},
            #{mountain.upDifficulty, jdbcType=NUMERIC},
            #{mountain.downDifficulty, jdbcType=NUMERIC} -->
        )
    </insert>
    
    <!--SQL : hikingRecord DELETE -->
    <delete id="deleteHikingRecord" parameterType="int">
        DELETE FROM hiking_record
        WHERE hr_no = #{hrNo, jdbcType=NUMERIC}
    </delete>
    
    <!--SQL : hikingRecord SELECT -->
    <select id="getHikingListRecord" parameterType="int" resultMap="hikingGuideMap">
        SELECT 
            hr_no,
            user_no,
            hr_time,
            hr_distance,
            hr_ascent,
            hr_descent,
            hr_date<!-- ,
            hr_skycondition,
            hr_mountain_name,
            hr_uptrail_name,
            hr_downtrail_name,
            hr_updifficulty,
            hr_downdifficulty -->
        FROM hiking_record
        WHERE user_no = #{userNo, jdbcType=NUMERIC}
    </select>

</mapper>