<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.mountain.MountainDao">

	<resultMap id="MountainResultMap" type="site.dearmysanta.domain.mountain.Mountain">
        <id property="mountainNo" column="MOUNTAIN_NO"/>
        <result property="mountainName" column="MOUNTAIN_NAME"/>
        <result property="mountainLatitude" column="MOUNTAIN_LATITUDE"/>
        <result property="mountainLongitude" column="MOUNTAIN_LONGTITUE"/>
   <!--      <result property="mountainImage" column="MOUNTAIN_IMAGE"/> -->
        <result property="mountainDescription" column="MOUNTAIN_DESCRIPTION"/>
        <result property="mountainAltitude" column="MOUNTAIN_ALTITUDE"/>
        <result property="mountainTrailCount" column="MOUNTAIN_TRAIL_COUNT"/>
        <result property="mountainViewCount" column="MOUNTAIN_VIEW_COUNT"/>
    </resultMap>
	
	<resultMap id="MountainSearchResultMap" type="site.dearmysanta.domain.mountain.MountainSearch">
    <!-- Search class fields -->
    	<result property="userNo" column="user_no"/>
    	<result property="searchCondition" column="search_condition"/>
    	<result property="searchKeyword" column="search_keyword"/>
    	<result property="searchDate" column="search_date"/>
    
    	<result property="locationNo" column="location_no"/>
    	<result property="altitudeNo" column="altitude_no"/>
    	<result property="difficultyNo" column="difficulty_no"/>
	</resultMap>
	
	<resultMap id="StatisticsResultMap" type="site.dearmysanta.domain.mountain.Statistics">
    <id property="mountainName" column="MOUNTAIN_NAME"/>
    <result property="searchCount" column="SEARCH_COUNT"/>
    <result property="postCount" column="POST_COUNT"/>
</resultMap>
	
	
	<insert id="addMountain" parameterType="site.dearmysanta.domain.mountain.Mountain">
    INSERT INTO MOUNTAIN (
        MOUNTAIN_NO, 
        MOUNTAIN_NAME, 
        MOUNTAIN_LOCATION, 
        MOUNTAIN_LATITUDE, 
        MOUNTAIN_LONGITUDE, 
        MOUNTAIN_IMAGE,
        MOUNTAIN_DESCRIPTION, 
        MOUNTAIN_ALTITUDE, 
        MOUNTAIN_TRAIL_COUNT, 
        MOUNTAIN_VIEW_COUNT
    )
    VALUES (
        #{mountainNo, jdbcType=INTEGER}, 
        #{mountainName, jdbcType=VARCHAR}, 
        #{mountainLocation, jdbcType=VARCHAR}, 
        #{mountainLatitude, jdbcType=DOUBLE}, 
        #{mountainLongitude, jdbcType=DOUBLE}, 
        #{mountainImage, jdbcType=VARCHAR},
        #{mountainDescription, jdbcType=VARCHAR}, 
        #{mountainAltitude, jdbcType=DOUBLE}, 
        #{mountainTrailCount, jdbcType=INTEGER}, 
        1
    )
</insert>
    
     <update id="updateMountain" parameterType="site.dearmysanta.domain.mountain.Mountain">
        UPDATE MOUNTAIN
        SET MOUNTAIN_LOCATION = #{mountainLocation},
            MOUNTAIN_DESCRIPTION = #{mountainDescription},
            MOUNTAIN_ALTITUDE = #{mountainAltitude},
            MOUNTAIN_TRAIL_COUNT = #{mountainTrailCount}
        WHERE MOUNTAIN_NO = #{mountainNo}
    </update>
    
    <update id="updateMountainViewCount" parameterType="int">
    	UPDATE MOUNTAIN
    	SET
    		MOUNTAIN_VIEW_COUNT = MOUNTAIN_VIEW_COUNT + 1
    	WHERE MOUNTAIN_NO = #{value}
    </update>
    
    <select id="getMountain" parameterType="int" resultMap="MountainResultMap">
        SELECT MOUNTAIN_NO, MOUNTAIN_NAME, MOUNTAIN_LOCATION, MOUNTAIN_LATITUDE, MOUNTAIN_LONGITUDE, MOUNTAIN_IMAGE,
               MOUNTAIN_DESCRIPTION, MOUNTAIN_ALTITUDE, MOUNTAIN_TRAIL_COUNT, MOUNTAIN_VIEW_COUNT
        FROM MOUNTAIN
        WHERE MOUNTAIN_NO = #{mountainNo}
    </select>
    
    <select id="getMountainListByAddress" parameterType="String" resultMap="MountainResultMap">
    	SELECT MOUNTAIN_NO, MOUNTAIN_NAME, MOUNTAIN_LOCATION, MOUNTAIN_LATITUDE, MOUNTAIN_LONGITUDE, MOUNTAIN_IMAGE,
               MOUNTAIN_DESCRIPTION, MOUNTAIN_ALTITUDE, MOUNTAIN_TRAIL_COUNT, MOUNTAIN_VIEW_COUNT
        FROM MOUNTAIN
        WHERE MOUNTAIN_LOCATION LIKE '%'||#{address}||'%'
    </select>
    
    <select id="getMountainListByName" parameterType="String" resultMap="MountainResultMap">
    	SELECT MOUNTAIN_NO, MOUNTAIN_NAME, MOUNTAIN_LOCATION, MOUNTAIN_LATITUDE, MOUNTAIN_LONGITUDE, MOUNTAIN_IMAGE,
               MOUNTAIN_DESCRIPTION, MOUNTAIN_ALTITUDE, MOUNTAIN_TRAIL_COUNT, MOUNTAIN_VIEW_COUNT
        FROM MOUNTAIN
        WHERE MOUNTAIN_NAME LIKE '%'||#{mountainName}||'%'
    </select>
    
    
    <select id="checkMountainExist" parameterType="int" resultType="int">
    	SELECT COUNT(*) FROM MOUNTAIN
    	WHERE MOUNTAIN_NO = #{mountainNo}
    </select>
    
    
    


	<insert id="addMountainLike"
		parameterType="site.dearmysanta.domain.common.Like">
		INSERT INTO LIKES (LIKE_NO, USER_NO, POST_LIKE_NO,
		POST_LIKE_TYPE, LIKE_DATE)
		VALUES (seq_like_no.NEXTVAL, #{userNo},
		#{postNo}, 2, SYSDATE)
	</insert>

	<delete id="deleteMountainLike"
		parameterType="site.dearmysanta.domain.common.Like">
		DELETE FROM LIKES
		WHERE USER_NO = #{userNo} AND
		POST_LIKE_NO = #{postNo} AND POST_LIKE_TYPE=2
	</delete>

	<select id="getTotalMountainLikeCount"
		parameterType="site.dearmysanta.domain.common.Like" resultType="int">
		SELECT
		COUNT(*) FROM LIKES
		WHERE POST_LIKE_NO = #{postNo}
	</select>

	<select id="getMountainLikeList"
		parameterType="site.dearmysanta.domain.common.Like"
		resultMap="MountainResultMap">
		SELECT m.*
		FROM LIKES l, MOUNTAIN m
		WHERE l.POST_LIKE_TYPE=2
		AND l.USER_NO = #{userNo} AND l.POST_LIKE_NO = m.MOUNTAIN_NO
	</select>




	<insert id="addSearchKeyword"
		parameterType="site.dearmysanta.domain.mountain.MountainSearch">
		INSERT INTO mountain_search (
		mountain_search_no, user_no, mountain_search_condition, mountain_search_content,
		location_no, difficulty_no, altitude_no, search_date
		) VALUES (
		seq_mountain_search_no.NEXTVAL, #{userNo}, #{searchCondition}, #{searchKeyword}, #{locationNo},
		#{altitudeNo}, #{difficultyNo}, SYSDATE
		)
	</insert>
	
	<delete id="deleteSearchKeyword" parameterType="site.dearmysanta.domain.mountain.MountainSearch">
		DELETE FROM MOUNTAIN_SEARCH
		WHERE USER_NO = #{userNo} AND search_date = #{searchDate}
	</delete>
	
	<select id="getSearchKeywordList" parameterType="int" resultMap="MountainSearchResultMap">
		SELECT * FROM MOUNTAIN_SEARCH
		WHERE USER_NO = #{value}
	</select>
	
	<update id="updateSearchSetting" parameterType="map">
		UPDATE USERS
		SET SEARCH_RECORD_SETTING = #{settingValue}
		WHERE USER_NO = #{userNo}
	</update>
	
	
	
	<insert id="addMountainStatistics" parameterType="String">
		INSERT INTO statistics(STATISTICS_NO, MOUNTAIN_NAME, SEARCH_COUNT,POST_COUNT)
		VALUES (seq_statistics_no.NEXTVAL, #{value}, 0 ,0)
	</insert>
	
	<update id="updateMountainStatistics" parameterType="map">
	UPDATE STATISTICS
	SET
	<choose>
		<when test="which == 0">
			SEARCH_COUNT = SEARCH_COUNT + 1
		</when>
		<when test="which == 1">
			POST_COUNT = POST_COUNT + 1
		</when>
	</choose>
	WHERE MOUNTAIN_NAME = #{mountainName}
</update>


	<select id="checkStatisticsMountainColumnExist" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM STATISTICS
		WHERE MOUNTAIN_NAME = #{value}
	</select>
	
	<select id="getStatisticsList" parameterType="int" resultMap="StatisticsResultMap">
		SELECT * FROM
		(SELECT * FROM STATISTICS
		<if test="which == 1">
			ORDER BY SEARCH_COUNT DESC
		</if>
		) WHERE ROWNUM <![CDATA[<=]]> 10
	</select>
	
	
	


</mapper>
