<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.user.UserDao">

<resultMap id="QnaResultMap" type="site.dearmysanta.domain.user.QNA">
    <!-- Post 객체의 resultMap을 상속받음 -->
    <id property="postNo" column="qna_no" />
    <result property="userNo" column="user_no" />
    <result property="nickName" column="nickname" />
    <result property="profileImage" column="profile_image" />
    <result property="title" column="qna_title" />
	<result property="contents" column="qna_content" />
	<result property="postDate" column="qna_date" />
	<result property="adminAnswer" column="admin_answer"/>
	<result property="answerState" column="answer_status"/>    
	<result property="qnaPostCategory" column="qna_category"/>    
</resultMap>

	<!-- 	<resultMap id="QnaSearchResultMap" type="site.dearmysanta.domain.common.Search">
    Search class fields
    	<result property="userNo" column="user_no"/>
    	<result property="searchCondition" column="search_condition"/>
    	<result property="searchKeyword" column="search_keyword"/>
    	<result property="searchDate" column="search_date"/>
    	<result property="adminAnswer" column="admin_answer"/>
		<result property="answerState" column="answer_status"/>    
		<result property="qnaPostCategory" column="qna_category"/>   
		<result property="title" column="qna_title" />
		<result property="nickName" column="nickname" /> 
	</resultMap> -->

	<!--  글제목, 글 내용, 카테고리 -->
	<insert id="addQnA" parameterType="site.dearmysanta.domain.user.QNA">
    INSERT 
    INTO QNA (qna_no, qna_content, qna_date, qna_title, qna_category, user_no, admin_answer, answer_status)
    VALUES (seq_qna_no.NEXTVAL, #{contents}, SYSDATE, #{title}, 0, #{userNo}, #{adminAnswer, jdbcType=VARCHAR},0)
	</insert>

	
	<select id ="getQnA" parameterType="int" resultMap="QnaResultMap">
    SELECT
        q.qna_no,
        q.user_no,
        u.nickname,
        u.profile_image,
        q.qna_title,
        q.qna_content,
        q.qna_date,
        q.admin_answer,
        q.qna_category
    FROM 
        QNA q, USERS u
    WHERE 
        q.qna_no = #{postNo} AND q.user_no = u.user_no
</select>

<!-- <select id="getQnAList" resultMap="QnaResultMap">
	 SELECT
        q.qna_no,
        q.user_no,
        u.nickname,
        u.profile_image,
        q.qna_title,
        q.qna_content,
        q.qna_date,
        q.admin_answer,
        q.qna_category,
        q.answer_status
    FROM 
        QNA q, USERS u
    WHERE 
        q.user_no = u.user_no
</select> -->

<update id="addAdminAnswer" parameterType="site.dearmysanta.domain.user.QNA">
	UPDATE QNA
	<set>
		admin_answer = #{adminAnswer},
		answer_status = 1
	</set>
	WHERE
		qna_no = #{postNo}
</update>

	<delete id="deleteQnA" parameterType="map">
		DELETE 
		FROM 
			QNA
		WHERE USER_NO = #{userNo} AND QNA_NO = #{postNo}
	</delete>


	<!--  ////////////////////////////////////////////  -->
<!-- 	<select id="getQnAList" parameterType="site.dearmysanta.domain.common.Search"	resultMap="QnaResultMap">
    SELECT * FROM QNA
    <where>
        <choose>
            <when test="searchCondition == 0 and searchKeyword != null and searchKeyword != ''">
                AND qna_title LIKE '%' || #{searchKeyword} || '%'
            </when>
            <when test="searchCondition == 1 and searchKeyword != null and searchKeyword != ''">
                AND nickname LIKE '%' || #{searchKeyword} || '%'
            </when>
        </choose>
    </where>
</select> -->
	
	<select id="getQnAList" parameterType="site.dearmysanta.domain.common.Search"	resultMap="QnaResultMap">
	SELECT q.*, u.nickname 
	FROM QNA q 
	JOIN Users u ON q.user_no = u.user_no
	<where>
	    <choose>
	        <when test="searchCondition == 0 and searchKeyword != null and searchKeyword != ''">
	            AND qna_title LIKE '%' || #{searchKeyword} || '%'
	        </when>
	        <when test="searchCondition == 1 and searchKeyword != null and searchKeyword != ''">
	            AND u.nickname LIKE '%' || #{searchKeyword} || '%'
	        </when>
	    </choose>
	</where>
	</select>



</mapper>
