<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.dearmysanta.service.user.UserDao">


	<resultMap id = "userSelectMap" type="site.dearmysanta.service.domain.user.User">
		<result property = "userNo"	column = "user_no"	jdbcType = "NUMERIC"/>
		<result property = "userId"	column = "user_id"	jdbcType = "VARCHAR"/>
		<result property = "userName"	column = "name"	jdbcType = "VARCHAR"/>
		<result property = "userPassword"	column = "password"	jdbcType = "VARCHAR"/>
		<result property = "nickName"	column = "nickname"	jdbcType = "VARCHAR"/>
		<result property = "address"	column = "address"	jdbcType = "VARCHAR"/>
		<result property = "birthDate"	column = "birth_date"	jdbcType = "VARCHAR"/>
		<result property = "phoneNumber"	column = "phone_number"	jdbcType = "VARCHAR"/>
		<result property = "gender"	column = "gender"	jdbcType = "NUMERIC"/>
		<result property = "profileImage"	column = "profile_image"	jdbcType = "VARCHAR"/>
		<result property = "creationDate"	column = "creation_date"	jdbcType = "DATE"/>
		<result property = "hikingPurpose"	column = "hiking_purpose"	jdbcType = "NUMERIC"/>
		<result property = "hikingDifficulty"	column = "hiking_difficulty"	jdbcType = "NUMERIC"/>
		<result property = "hikingLevel"	column = "hiking_level"	jdbcType = "NUMERIC"/>
		<result property = "withdrawDate"	column = "withdraw_date"	jdbcType = "DATE"/>
		<result property = "withedrawReason"	column = "withdraw_reaseon"	jdbcType = "NUMERIC"/>
		<result property = "withdrawContent"	column = "withdraw_content"	jdbcType = "VARCHAR"/>
		<result property = "role"	column = "role"	jdbcType = "NUMERIC"/>
		<result property = "badgeImage"	column = "badge_image"	jdbcType = "VARCHAR"/>
		<result property = "certificationCount"	column = "cp_count"	jdbcType = "NUMERIC"/>
		<result property = "meetingCount"	column = "mp_count"	jdbcType = "NUMERIC"/>
		<result property = "introduceContent"	column = "introduce_content"	jdbcType = "VARCHAR"/>
		<result property = "searchRecordFlag"	column = "search_record_setting"	jdbcType = "NUMERIC"/>
		<result property = "allAlertSetting"	column = "all_alert_setting"	jdbcType = "NUMERIC"/>
		<result property = "certificationPostAlertSetting"	column = "cp_setting"	jdbcType = "NUMERIC"/>
		<result property = "meetingPostAlertSetting"	column = "mp_setting"	jdbcType = "NUMERIC"/>
		<result property = "hikingGuideAlertSetting"	column = "hg_setting"	jdbcType = "NUMERIC"/>
		<result property = "timeAlertSetting"	column = "time_alert_setting"	jdbcType = "NUMERIC"/>
		<result property = "locationOverSetting"	column = "location_over_setting"	jdbcType = "NUMERIC"/>
		<result property = "destinationOverSetting"	column = "destination_setting"	jdbcType = "NUMERIC"/>
		<result property = "sunsetAlertSetting"	column = "sunset_setting"	jdbcType = "NUMERIC"/>
		<result property = "timeSetting"	column = "time_setting"	jdbcType = "VARCHAR"/>
	</resultMap>
	
	<!--  SQL : INSERT -->
	
	<insert id = "addUser"	parameterType = "site.dearmysanta.service.domain.user.User" >
		INSERT
		INTO users(user_no, user_id, name, password, nickname, address, birth_date, phone_number, gender, 
							profile_image, hiking_purpose, hiking_difficulty, hiking_level, role, 
							badge_image, cp_count, mp_count, creation_date)
		VALUES	( #{userNo}, #{userId}, #{userName}, #{userPassword}, #{nickName}, #{address}, #{birthDate},
							#{phoneNumber}, #{gender}, #{profileImage}, #{hikingPurpose}, #{hikingDifficulty}, 
							#{hikingLevel}, #{role}, #{badgeImage}, #{certificationCount}, #{meetingCount}, #{creationDate})
	</insert>
	
	<!--  SQL : SELECT ONE -->
	
	<select id="getUser" parameterType="String" resultType="userSelectMap">
        SELECT 
		    user_no, user_id, name, password, nickname, address, birth_date, phone_number, gender, 
		    profile_image, hiking_purpose, hiking_difficulty, hiking_level, 
		CASE
	        WHEN (cp_count + mp_count) BETWEEN 0 AND 2 THEN 'badge_image_1.jpg'
	        WHEN (cp_count + mp_count) BETWEEN 2 AND 5 THEN 'badge_image_2.jpg'
	        WHEN (cp_count + mp_count) BETWEEN 5 AND 10 THEN 'badge_image_3.jpg'
	        WHEN (cp_count + mp_count) BETWEEN 10 AND 30 THEN 'badge_image_4.jpg'
	        WHEN (cp_count + mp_count) BETWEEN 30 AND 50 THEN 'badge_image_5.jpg'
	        WHEN (cp_count + mp_count) BETWEEN 50 AND 100 THEN 'badge_image_6.jpg'
	    	ELSE 'badge_image_7.jpg'
	    END AS badge_image,
	    	cp_count, mp_count, creation_date, introduce_content
        FROM users
        WHERE user_no = #{userNo}
    </select>
	
	<!--  SQL : UPDATE -->
	
	<update id = "updateUser"	parameterType = "site.dearmysanta.service.domain.user.User" > 
		UPDATE users
		<set>
			userPassword = #{userPassword},
		    nickName = #{nickName},
		    address = #{address},
		    phoneNumber = #{phoneNumber},
		    profileImage = #{profileImage},
		    hikingPurpose = #{hikingPurpose},
		    hikingDifficulty = #{hikingDifficulty},
		    hikingLevel = #{hikingLevel},
		    introduceContent = #{introduceContent}
		</set>
		WHERE user_no = #{userNo}
	</update>
	
</mapper>
